<template>
  <v-app id="inspire"  cols="12" lg="4" sm="4" :style="{background: $vuetify.theme.themes.dark.background}">
    <side-bar />
    <right-sidebar/>
    <v-container>
      <v-toolbar flat color="transparent" class="mt-n5">
        <v-icon>fas fa-chevron-left</v-icon>
        <span class="ml-2 caption grey--text">YZA</span>
      </v-toolbar>
      <v-toolbar flat color="transparent" class="mt-n8">
        
        <v-spacer ></v-spacer>
        <v-icon>fas fa-user</v-icon>
        <span class="ml-2 caption grey--text">Ady familiyasy</span>
        <v-switch color="green" v-model="on" class="mt-5 ml-2"></v-switch>
      </v-toolbar>
      <h1 class="grey--text text-darken-2 ml-3 mt-n5" style="max-font-size: 10px;">Bash sahypa</h1>
      <span class="grey--text text-darken-2 ml-3 mr-2 caption">Bash sahypa</span>
      <v-dialog v-model="show" scrollable max-width="950px">
          <v-card>
            <div v-html="stuff"></div>
          </v-card>
      </v-dialog>
    </v-container>
  </v-app>
</template>

<script>

import SideBar from '../components/SideBar.vue'


  export default {
    name: 'App',

    components: {
    SideBar
},
  }
</script>
