<template>
  <v-app id="inspire" :style="{ background: $vuetify.theme.themes.dark.background }">
    <div class="background">
      <v-main class="d-flex">
        <v-col cols="10" lg="4" class="mx-auto">
          <v-card class="pa-4">
            <div class="text-center">
              <v-avatar size="100" color="indigo lighten-4">
                <v-icon size="60" color="indigo">mdi-phone</v-icon>
              </v-avatar>
              <h2>Login sahypa</h2>
            </div>
            <v-form @submit.prevent="SubmitHandler" ref="form">
              <v-card-text>
                <v-text-field
                  v-model="number"
                  :rules="emailRules"
                  type="number"
                  label="Telefon belgiňiz"
                  placeholder="Telefon belgiňiz"
                  prepend-icon="mdi-phone"
                />
                <v-text-field
                  v-model="password"
                  :rules="passwordRules"
                  :type="passwordShow ? 'text' : 'password'"
                  label="Password"
                  placeholder="Parol"
                  prepend-icon="mdi-key"
                  :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="passwordShow = !passwordShow"
                />
                <v-switch label="Yatda sakla"></v-switch>
              </v-card-text>
              <v-card-actions class="justify-center">
                <v-btn :loading="loading" type="submit" color="indigo">
                  <span class="white--text px-8">LOGIN</span>
                </v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-col>
      </v-main>
      <v-snackbar color="green" v-model="snackbar"> </v-snackbar>
    </div>
  </v-app>
</template>

<script>
export default {
  name: "App",

  components: {},
  data: () => ({
    loading: false,
    snackbar: false,
    passwordShow: false,
    password: "",
    passwordRules: [
      (v) => !!v || "PAROL HOKMANY",
      (v) => (v && v.length >= 6) || "PAROL 6 Sifrden kop bolmaly!",
    ],
    email: "",
    emailRules: [
      (v) => !!v || " @Email hokmany",
      (v) => /.+@+.+\..+/.test(v) || "Email salgyny girizin",
    ],
  }),
  methods: {
    SubmitHandler() {
      if (this.$refs.form.validate()) {
        this.loading = "true";
      }
    },
  },
};
</script>
<style scoped>
.background {
  background-image: url(../../public/Education.jpeg) !important;
  height: 300px;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  background-size: cover;
}
.d-flex {
  justify-self: center;
  margin-top: 10%;
  padding-top: 20%;
}
</style>
