<template>
<v-navigation-drawer  app color="#FFFFFF" right width="300">
    <div class="d-block text-center">
        <v-btn class="mt-2" outlined>Täze goşmak
            <v-icon right>fas fa-plus-circle</v-icon>
        </v-btn>
    </div>    
    <h3 class="ml-3">BAHALAR</h3>
    <h5 class="grey--text ml-3 line">Hemmesi</h5>
    <v-card class="rounded-br-pill rounded-tr-pill pa-4 mx-3" color="#313ae0">
        <v-row>
            <v-col col="12" sm="8">
                <h4 class="white--text">Jemi: 25</h4>
                <v-row>
                    <v-col col="12" sm="6">
                        <span class="grey--text">22</span><br/>
                        <span class="grey--text">Aktiwler</span><br/>
                    </v-col>
                    <v-col col="12" sm="6">
                        <span class="grey--text">3</span><br/>
                        <span class="grey--text">Pes </span><br/>
                    </v-col>
                </v-row>
            </v-col>
            <v-col col="12" sm="4">
                <v-progress-circular :size="60" :width="4" :value="70" color="#FE645B" class="mt-2">220</v-progress-circular>
            </v-col>
        </v-row>
    </v-card>
    <v-card class="mx-3 mt-2 rounded-bl-xl rounded-tr-xl pa-2" height="90" >
        <v-row>
            <v-col cols="12" sm="6" class="text-center">
                <v-icon color="#313ae0" large>fas fa-laptop</v-icon><br/>
                <span class="grey--text">BAHA</span><br/>
                <span class="grey--text">5</span>
            </v-col>
            <v-col col="12" sm="6">
                <v-progress-circular :size="60" :width="4" :value="75" color="#FE645B" class="mt-2 ml-12">75</v-progress-circular>
                <v-badge bordered bottom color="green" dot offset-x="1" offset-y="-30"></v-badge>
            </v-col>   
        </v-row>
    </v-card>
    <v-card class="mx-3 mt-2 rounded-bl-xl rounded-tr-xl pa-2" height="90" >
        <v-row>
            <v-col cols="12" sm="6" class="text-center">
                <v-icon color="#313ae0" large>fas fa-laptop</v-icon><br/>
                <span class="grey--text">BAHA</span><br/>
                <span class="grey--text">4</span>
            </v-col>
            <v-col col="12" sm="6">
                <v-progress-circular :size="60" :width="4" :value="20" color="#FE645B" class="mt-2 ml-12">20</v-progress-circular>
                <v-badge bordered bottom color="green" dot offset-x="1" offset-y="-30"></v-badge>
            </v-col>   
        </v-row>
    </v-card>
    <v-card class="mx-3 mt-2 rounded-bl-xl rounded-tr-xl pa-2" height="90" >
        <v-row>
            <v-col cols="12" sm="6" class="text-center">
                <v-icon color="#313ae0" large></v-icon><br/>
                <span class="grey--text">BAHA</span><br/>
                <span class="grey--text">3</span>
            </v-col>
            <v-col col="12" sm="6">
                <v-progress-circular :size="60" :width="4" :value="35" color="#FE645B" class="mt-2 ml-12">35</v-progress-circular>
                <v-badge bordered bottom color="green" dot offset-x="1" offset-y="-30"></v-badge>
            </v-col>   
        </v-row>
    </v-card>
    <v-card class="mx-3 mt-2 rounded-bl-xl rounded-tr-xl pa-2" height="90" >
        <v-row>
            <v-col cols="12" sm="6" class="text-center">
                <v-icon color="#313ae0" large></v-icon><br/>
                <span class="grey--text">BAHA</span><br/>
                <span class="grey--text">2</span>
            </v-col>
            <v-col col="12" sm="6">
                <v-progress-circular :size="60" :width="4" :value="35" color="#FE645B" class="mt-2 ml-12">35</v-progress-circular>
                <v-badge bordered bottom color="green" dot offset-x="1" offset-y="-30"></v-badge>
            </v-col>   
        </v-row>
    </v-card>
    <v-toolbar flat color="transparent" class="mt-n4">
        <span color="black--text" class="caption">+4 köp </span>
        <v-spacer></v-spacer>
        <v-icon small color="black">fas fa-chevron-circle-right</v-icon>
    </v-toolbar>
    <h5 class="grey--text-center ml-3 mt-n6">Beylekiler</h5>
    <v-row>
        <v-col col="12" sm="4">
            <v-card class="d-block text-center mx-3 mt-3 rounded-bl-lg rounded-tr-lg pa-2">
                <v-badge bordered bottom color="green" dot>
                    <v-icon color="#313ae0">fas fa-wifi</v-icon>
                </v-badge>
            </v-card>
        </v-col>
        <v-col col="12" sm="4">
            <v-card class="d-block text-center mx-3 mt-3 rounded-bl-lg rounded-tr-lg pa-2">
                <v-badge bordered bottom color="green" dot>
                    <v-icon color="#313ae0">fas fa-car</v-icon>
                </v-badge>
            </v-card>
        </v-col>
        <v-col col="12" sm="4">
            <v-card class="d-block text-center mx-3 mt-3 rounded-bl-lg rounded-tr-lg pa-2">
                <v-badge bordered bottom color="green" dot>
                    <v-icon color="#313ae0">fas fa-user</v-icon>
                </v-badge>
            </v-card>
        </v-col>
        <v-col col="12" sm="4">
            <v-card class="d-block text-center mx-3 mt-3 rounded-bl-lg rounded-tr-lg pa-2">
                <v-badge bordered bottom color="green" dot>
                    <v-icon color="#313ae0">fas fa-fan</v-icon>
                </v-badge>
            </v-card>
        </v-col>
        <v-col col="12" sm="4">
            <v-card class="d-block text-center mx-3 mt-3 rounded-bl-lg rounded-tr-lg pa-2">
                <v-badge bordered bottom color="green" dot>
                    <v-icon color="#313ae0">fas fa-broadcast-tower</v-icon>
                </v-badge>
            </v-card>
        </v-col>
        <v-col col="12" sm="4">
            <v-card class="d-block text-center mx-3 mt-3 rounded-bl-lg rounded-tr-lg pa-2" outlined>
                <v-badge bordered bottom color="green" dot>
                    <v-icon color="#000">fas fa-plus</v-icon>
                </v-badge>
            </v-card>
        </v-col>
    </v-row>
</v-navigation-drawer>
</template>
<script>
export default {

}
</script>
<style>
.line{
    text-decoration: underline crimson;
}
</style>
