<template>
<v-navigation-drawer v-model="drawer" app color="#FFFFFF" mini-variant mini-variant-width="80">
    <v-card class="d-block text-center mx-1 mt-4 my-10 roundeed-bl-xl rounded-tr-xl pa-2" >
        <router-link class="router-link" to="/"><v-icon color="#313ae0"   x-large>fas fa-book-open</v-icon></router-link>
    </v-card>
    <v-list flat class="mt-5" >
        <v-list-item-group v-model="selectItem">
            <v-list-item v-for="(item, i) in items" :key="i" active-class="activeC" :ripple="false">
                <v-list-item-icon>
                <router-link to='/teacher'>
                    <v-icon v-text="item.icon" color="#313ae0" style="position: absolute; bottom: 20px; margin-left: auto; margin-right: auto; left: 0; right: 0; text-align: center;">
                        
                    </v-icon> 
                </router-link>
                </v-list-item-icon>
            </v-list-item>
        </v-list-item-group>
    </v-list>
    <div style="position: absolute; bottom: 20px; margin-left: auto; margin-right: auto; left: 0; right: 0; text-align: center;">
        <v-icon class="mb-5" color="#313ae0">fas fa-tv</v-icon>
        <br/>
        <v-icon class="mb-5" color="#313ae0">fas fa-people-arrows</v-icon>
        <br/>
        <v-avatar>
            <v-img src="3.png" class="round"></v-img>
        </v-avatar>
        <br/>
    </div>
</v-navigation-drawer>
</template>
<script>
export default {
    data:() => ({
        selectItem: 0,
        drawer: null,
        items: [
            {icon: "fas fa-home"},
            {icon: "fas fa-chalkboard-teacher"},
            {icon: "fas fa-user-graduate"},
            {icon: "fas fa-user-friends"},
            {icon: "fas fa-user-cog"},
            {icon: "fas fa-user"},
            {icon: "fas fa-users"},
            {icon: "fas fa-cog fa-spin fa-5x"},

        ]

    }),
}
</script>
<style>
.router-link {
    text-decoration: none;
}
.activeC{
    box-shadow: 
    inset -10px -10px 10px rgba(255, 255, 255, 0.2),
    inset 15px 15px 15px rgba(0, 0, 0, 0.1)
}
.v-list-item-group .v-list-item--active {
    color: aliceblue !important;
}
.round{
    border: 2px solid grey;
}
</style>